body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.list-group-item:not(:hover) .btn-close {
    display: none;
}

.profile-image-preview {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

#cvDescription {
    min-height: 5rem;
}

#languageName {
    width: 7rem;
}