.certificates .card-title {
    font-size: 1rem;
}

.certificates .card-subtitle {
    font-size: .875rem;
}

.certificates .card-text {
    font-size: .8rem;
}

#projects .carousel-inner {
    border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius);
}

.nav-tabs .nav-link {
    color: var(--white-1);
}

.nav-tabs .nav-link.active {
    background-color: var(--black-2);
    color: var(--purple-light-0);
    border-color: var(--black-3);
}
