.project-card {
    height: 100%;
}

.project-image {
    height: 250px;
    object-fit: cover;
}

#projectDescription {
    min-height: 10rem;
}

#projectsList .card-text {
    font-size: 0.95rem;
    color: var(--grey-0);
}